/*HEADER*/

body{
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	min-height: 100vh;
	overflow-x: hidden;
}

.contenedor{
	width: 770px;
	margin: auto;
}

.alinear-header{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header{
	position: relative;
	background-image: url('../img/background.png');
	background-size: 100% 100%;
	color: white;
	padding: 20px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	background-color: #273b47;
}

.bar{
	position: fixed;
	top: 35px;
	left: 10px;
	z-index: 5;
	color: white;
	border: 1px solid gray;
	border-radius: 100%;
	height: 40px;
	width: 40px;
	background-color: #273b47;
	cursor: pointer;
	display: none;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

header figure{
  margin-left: 0;
}

.menu, .subtitulo-m{
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
}

.menu ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
	padding: 0;
}

.menu li{
	list-style: none;
	padding: 10px 15px;
	margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.menu ul li a:hover{
	border-bottom: 4px solid #fd324e;
}

.menu li:before{
	content: '°';
  font-size: 50px;
  color: white;
  position: absolute;
  top: 6px;
  left: -2px;
}

.menu ul li a{
	text-decoration: none;
  color: white;
  cursor: pointer;
  border-bottom: 4px solid transparent;
  -webkit-transform: scale(.9);
          transform: scale(.9);
}

.titulo-m{
	font-size: 70px;
	font-family: 'Allerta', sans-serif;
	margin-bottom: 0;
}

span.titulo-m{
	text-decoration: underline;
}

.btn{
  border-radius: 5px;
	padding: 10px 25px;
	background: -webkit-gradient(linear, right top, left top, from(#fe344e), to(#ff7250));
	background: linear-gradient(to left, #fe344e, #ff7250);
	cursor: pointer;
	color: white;
	border: 2px solid white;
  width: 150px;
	font-weight: bold;
}

.btn:active{
	-webkit-transform: scale(.9);
	        transform: scale(.9);
}

.button-header{
	margin-bottom: 60px;
}

/* SECTION  VIDEO GUITAR */

/* VIDEO IFRAME */

.contenedor-iframe{
	position: relative;
	padding-top: 56.25%;
	margin: 0 10px;
	border: 5px solid #273b47;
}

.contenedor-iframe iframe{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

/* VIDEO SRC */

/* .contenedor-video{
	margin: 0 10px;
}

.contenedor-video video{
	width: 100%;
} */

/* SECTION GUITAR */

.wrap{
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

.titulo-c{
	font-size: 45px;
	margin-left: 10px;
}

.titulo-c, .titulo-a{
  color: #273b47;
	font-family: 'Allerta', sans-serif;
}

.titulo-a{
	font-size: 35px;
  margin: 20px 0 20px 0;
	text-align: center;
}

#guitarras{
		margin-bottom: 40px;
}

.guitarra-1 figure, .guitarra-2 figure {
	margin: 0;
}

.guitarra-1, .guitarra-2{
	border: 1px solid black;
	border-radius: 5px;
	padding: 50px;
	margin: 20px 10px 20px 10px;
}

.guitarra-1 .img-g1, .guitarra-2 .img-g2{
	width: 350px;
	height: 250px;
}

.guitarra-1 .b-loaded, .guitarra-2 .b-loaded{
	opacity: 1;
	-webkit-transition-duration: 1.5s;
	        transition-duration: 1.5s;
	-webkit-transition-timing-function: ease;
	        transition-timing-function: ease;
}

.texto-guitarra{
	font-family: 'Montserrat', sans-serif;
	padding: 0;
}

.img-g1{
	float: right;
	position: relative;
	bottom: 50px;
}

.img-g2{
	float: left;
	position: relative;
	top: 8px;
}

/* FOOTER */

.footer{
	background-color: #273b47;
	position: relative;
}

footer figure{
	margin-left: 0;
	margin-right: 0;
}

.footer .contenedor{
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -ms-flex-pack: distribute;
	     justify-content: space-around;
}

.contacto, .formulario-1, .formulario-interno-1, .formulario-interno-2{
    margin: 8px;
}

.formulario{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}

.footer-a{
	text-decoration: none;
	color: white;
}

.footer-a:hover{
	text-decoration: underline;
}

.label, .input{
	margin-top: 5px;
}

.contenedor-radio .radio, .contenedor-checkbox .checkbox{
	display: inline-block;
}

.radio input, .checkbox input{
	width: 16px;
	height: 16px;
}

.footer input[type="text"], .footer input[type="email"], .footer textarea{
	padding: 10px;
	border: none;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 100%;
}

.campos{
	margin: 5px;
	padding: 5px;
	color: white;
}

.center{
	text-align: center;
}

::-webkit-input-placeholder, .campos{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

:-ms-input-placeholder, .campos{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

::-ms-input-placeholder, .campos{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

::placeholder, .campos{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

/*EFECTO B-LAZY*/

.guitarra-1 .img-g1, .guitarra-2 .img-g2, footer img{
	opacity: 0;
	-webkit-transform: scale(1.5);
	        transform: scale(1.5);
	-webkit-transition-duration: 1s;
	        transition-duration: 1s;
	-webkit-transition-timing-function: ease;
	        transition-timing-function: ease;
}

.guitarra-1 .b-loaded, .guitarra-2 .b-loaded, footer img.b-loaded{
	opacity: 1;
	-webkit-transform: scale(1);
	        transform: scale(1);
}

/* SECTION TABLE */

#precios{
  margin-bottom: 40px;
}

.contenedor-table{
  overflow: auto;
  border: 1px solid black;
  margin: 0 10px;
}

table{
	width: 100%;
	border-collapse: collapse;
}

th{
	font-size: 100%;
  background-color: #273b47;
  color: white;
}

th, tr, td{
	padding: 10px 35px;
	border: 1px solid black;
	text-align: center;
}

/* MEDIAQUERIES*/

@media (max-width: 800px) {

/* HEADER */

.contenedor{
	width: 100%;
}

.alinear-header{
	display: block;
}

header figure{
	text-align: center;
	margin: auto;
}

.menu ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.titulo-m{
	font-size: 40px;
	margin-top: 0;
}

.subtitulo-m{
	font-size: 20px;
}

.button-header{
	margin-bottom: 30px;
}

/* SECTION GUITAR */

#guitarras{
		margin-bottom: 0;
}

.titulo-c{
	text-align: center;
	font-size: 30px;
	margin-left: 0;
}

.guitarra-1, .guitarra-2{
	text-align:  center;
	padding: 20px;
}

.img-g1, .img-g2{
	position: static;
	float: none;
}

.titulo-a{
	font-size: 25px;
}

.texto-guitarra{
	list-style: none;
}

}

@media (max-width: 767px) {

/* FOOTER */

.footer .contenedor{
	display: block;
}

.contacto .campos{
	display: inline-block;
}

.contacto, .formulario-interno-1, .formulario-interno-2{
	margin: 8px 0 8px 0;
}

.footer figure{
	text-align: center;
}

.campos{
	margin: 5px 0 5px 0;
}

.formulario-1, .formulario-interno-1, .formulario-interno-2{
	width: 100%;
}

.formulario{
	display: block;
}

.contacto, .formulario{
	margin: 10px 100px;
}

}

@media (max-width: 575px) {

/* HEADER */

.bar{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

header figure{
	margin: auto auto 20px auto;
}

.menu{
	font-size: 20px;
	background: -webkit-gradient(linear, right top, left top, from(#fe344e), to(#ff7250));
	background: linear-gradient(to left, #fe344e, #ff7250);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-transform: translateX(-100%);
	        transform: translateX(-100%);
	-webkit-transition-duration: 1s;
	        transition-duration: 1s;
	-webkit-transition-timing-function: ease;
	        transition-timing-function: ease;
	z-index: 1;
}

.capaMenu{
	-webkit-transform: translateX(0);
	        transform: translateX(0);
}

.menu ul{
	display: block;
	width: 100%;
}

.menu ul li{
	border-bottom: 1px solid white;
	margin-right: 0;
}

.menu ul li:before{
	display: none;
}

.menu ul li a:hover{
	border-bottom: 4px solid white;
}

.titulo-m{
	margin-top: 0;
	font-size: 29px;
}

.subtitulo-m{
	font-size: 16px;
}

.button-header{
	margin-bottom: 0;
}

.btn{
	width: 100%;
}

.scroll-menu{
	overflow: hidden;
}

/* SECTION GUITARRA */

.guitarra-1, .guitarra-2{
	padding: 20px;
}

.guitarra-1 .img-g1, .guitarra-2 .img-g2{
	width: 250px;
	height: 200px;
}

.texto-guitarra{
	font-size: 15.5px;
}

/* FOOTER */

.contacto, .formulario{
	margin: 10px 50px;
}

}

/*IMAGEN RETINA BACKGROUND POR CSS*/

@media (-webkit-min-device-pixel-ratio:2){
	.header{
		background-image: url('../img/background2x.png');
	}
}
